<!DOCTYPE html>
<html>

<head>
    <title>My First Website</title>
    <style>
        h4 {
        Color:#006400;
        font-size:50px;
        Text-align:none;
        margin-bottom:0px;
        }
        p {
        font-size:25px;
        text-align:none;
        margin-top:0px;
        }
    </style>
</head>

<body>
        <header>
            <h1>My Website</h1>
        </header>
        <nav>
            <a href="#">Home</a> | <a href="#">About</a> | <a href="#">Contact</a>
        </nav>
        <main>
            <h1>Welcome to My Webpage</h1>
            <p>This is my first paragraph of text!</p>
            <p>Click on the following link</p>
            <a href="https://www.geeksforgeeks.org">GeeksforGeeks </a>
        
        
            <ul>
                <li>Data Structures & Algorithm</li>
                <li>Web Technology</li>
                <li>Aptitude & Logical Reasoning</li>
                <li>Programming Languages</li>
            </ul>
        
            <table>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Age</th>
                </tr>
                <tr>
                    <td>Priya</td>
                    <td>Sharma</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>Arun</td>
                    <td>Singh</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>Sam</td>
                    <td>Watson</td>
                    <td>41</td>
                </tr>
            </table>
        
            <h2>Cell that spans two rows:</h2>
            <table style="width:100%">
                <tr>
                    <th>Name:</th>
                    <td>Vikas Rawat</td>
                </tr>
                <tr>
                    <th rowspan="2">Telephone:</th>
                    <td>9125577854</td>
                </tr>
                <tr>
                    <td>8565557785</td>
                </tr>
            </table>
        </main>
        <footer>
            <p> 2024 My Website</p>
        </footer>
    </body>





</body>

</html>